
#mensaje{
  vertical-align: bottom;
}

.mensaje-saliente{
  float: right;
  vertical-align: baseline;
  background-color: #dcf8c6;
  margin-bottom: 5px;
  border-radius: 7.5px;
  max-width: 95%;
  font-size: 14.2px;
  line-height: 19px;
  color: #262626;
  box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
}

.mensaje-entrante{
  vertical-align: bottom;
  float: left;
  background-color: #ffffff;
  border-radius: 7.5px;
  box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
  max-width: 95%;
  font-size: 14.2px;
  line-height: 19px;
  color: #262626;
}

.aaaa{
  padding-left: 5%;
  padding-right: 5%;
  width: 95%;
  min-height: 6vh;
}

#sector-mensajes{
  padding-right: 15px;
  padding-left: 15px;
}

#sector-salas{
  padding-right: 0px;
  padding-left: 0px;
}

#enviar{
  background-color: #4cb050;
  border:solid #4cb050;
}

.sala_cont{
  text-align: left;
  width: 100%;
}

.cerrar{
  text-align: left;
  width: 100%;
}
